.container {
  padding: 0 30px;
}
td, .ui .button {font-size: 12px;}
.input {margin-bottom: 10px;}
.input input[type="text"],.input input[type="tel"],.input input[type="email"]{margin: 2px;}
.errorMsg {
  font-size: 13px;
  margin-top: 10px;
  color:#fff;
}
.error{
  border:1px solid #d63838 !important;
}
.container {padding-top: 60px;}
select {
  border:none;
  background: #fff;
  border-radius: 5px;
}
tr:hover {
  background: #eee;
  cursor: pointer;
}
.loader{
  max-width: 100%;
  text-align: center !important;
  animation-name: loader;
  animation-duration: 1.5s;
  animation-timing-function: ease;
  animation-iteration-count: infinite;
}
.loader span {
  width: 100%;
  height: 5px;
  background: #ccc;
  display: inline-block;
}
@keyframes loader {
  0%{opacity: 1;}
  50%{opacity: 0;}
  100%{opacity: 1;}
}
